### all ignore ###
*
!*/

### white list ###
!alacritty/*
!bin/*
!brew/*
!brew/brewfile/*
!git/*
!install/*
!tmux/*
!vscode/*
!vscode/extensions/*
!zsh/*

!.gitignore
!/README.md
!/LICENSE
!.gitignore
!.gitkeep

# !/brew

**.DS_Store
*.swp
