### all ignore ###
*
!*/

### white list ###
!.editorconfig
!.prettierrc

!alacritty/*
!bin/*
!bin/scripts/*
!bin/raycast/*
!brew/*
!brew/brewfile/*
!devcontainer/*
!espanso/*
!espanso/config/*
!espanso/match/*
!git/*
!git/config/*
!install/*
!nvim/*
!starship/*
!tmux/*
!vscode/*
!vscode/extensions/*
!vscode/settings/*
!vscode/snippets/*
!zsh/*
!zsh/scripts/*
!zsh/zim/*

!.gitignore
!/README.md
!/LICENSE
!.gitignore
!.gitkeep

# brew
*.Brewfile.lock.json

# git
git/config/config.local
git/gh_access_token.txt

# zsh
zsh/scripts/alias.local.zsh
zsh/scripts/env.zsh

*.local.*

**.DS_Store
*.swp
